<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amarante' rel='stylesheet' type='text/css'>
  <title>Sudoku Game</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/solution">Solution</a>
        </li>
        <li>
          <a href="/new_game">New Game</a>
        </li>
      </ul>
    </nav>
    <h1>Sudoku GargleBlaster</h1>
  </header>
  <div id="sudoku">
    <form action="/" method="post">
      <% 3.times do |row| %>
      <div class='row'>
        <% 3.times do |box| %>
        <div class='box'>
          <% 3.times do |cell_row| %>
          <div class="cell-row" %>
            <% 3.times do |cell| %>
            <div class="cell">
              <% cell_index = row * 27 + box * 3 + cell_row * 9 + cell %>
              <% cell_value = cell_value(@current_solution[cell_index]) %>
                <% colour_class = colour_class(@check_solution, @puzzle[cell_index], @current_solution[cell_index], @solution[cell_index]) %>
              <input name="cell[]" type="text" maxlength="1" autocomplete="off" value="<%= cell_value %>" class="<%= colour_class %>">
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
      <div id='check'>
      <button>Check solution</button>
    </div>
    </form>
  </div>
</body>
</html>