<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amarante' rel='stylesheet' type='text/css'>
  <title>Sudoku Game</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/solution">Solution</a>
        </li>
        <li class='pop-out'>
          <a href="/new_game">New Game</a>
          <ul>
            <li>
              <a href="/easy">Easy</a>
            </li>
            <li>
              <a href="/new_game">Medium</a>
            </li>
            <li>
              <a href="/hard">Hard</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/cat">Kittehz</a>
        </li>
      </ul>
    </nav>
    <h1>Sudoku GargleBlaster</h1>
  </header>
  <%= partial :flash %>
  <%= partial :sudoku %>
</body>
</html>