#sudoku {
  font-size: 0;
  background-color: #000;
  border-radius: 10px;
  width: 347px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;
  opacity:0.9;
}

header {
  margin-top: -10px;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 45px;
  font-family: 'Amarante', sans-serif;
  text-decoration: underline;
}

nav {
  background: #DDD;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 20px;
  position: absolute;
  top: -5px;
  left: -15px;
  opacity:1.0;

}

nav li {
  display: block;
  padding: 15px 10px 0 10px;
}

nav a {
  font-size: 20px;
  text-transform: uppercase;
  color: #DDD;
  font-family: 'Amarante', sans-serif;
  background: #000;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}

nav a:hover {
  color: #FFF;
  background: #FFF;
}

nav a:visited {
  color: #DDF;
  background: #000;
}

body {
  background-image:url('/images/waves.jpg');
  text-align: center;
  font-family: Arial;
}

#flash {
  display: inline-block;
  background: #DDD;
  margin: 20px 30px 10px 30px;
}

div.box, div.cell {
  display: inline-block;
  padding: 3px;
}

.cell input {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.cell input:hover {
  font-size: 18px;
  width: 30px;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

#check {
  padding: 10px 0 15px 0;
}

button {
  background-color: #FFF;
  width: 300px;
  font-size: 20px;
  font-family: 'Courgette';
}

button:hover {
  background-color: #DDD;
}