#sudoku {
  font-size: 0;
  background-color: #000;
  border-radius: 10px;
  width: 347px;
  text-align: center;
  padding-top: 3px;
  opacity:0.9;
  position: absolute;
  top: 100px;
  left: 400px;
}

header {
  margin-top: -10px;
  text-align: center;
}

h1 {
  display: inline-block;
  font-size: 45px;
  font-family: 'Walter Turncoat', cursive;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  top: 0;
  left: 470px;
  color: #FFF;
}

h1 a {
  color: #FFF;
}

nav {
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 10px;
  position: absolute;
  top: -5px;
  left: -15px;
  opacity:1.0;
}

nav li {
  display: block;
  padding: 15px 10px 0 10px;
  position: relative;
}

nav ul ul {
  padding-left: 0;
  position: absolute;
  top: 0;
  left: 95%;
  width: 60%;
  display: none;
}

nav ul ul li {
  padding-left: 0;
}

/* Note: Only for multiple level pop-outs;

nav ul ul:hover ul ul {
  display: none;
}*/

.pop-out:hover ul {
  display: block;
}

nav a {
  font-size: 20px;
  text-transform: uppercase;
  color: #DDD;
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  background: #000;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
}

nav a:hover {
  color: #FFF;
}

nav a:visited {
  color: #DDF;
}

nav a:visited:hover {
  color: #FFF;
}

body {
  background-image:url('/images/goo.jpg');
  background-size: 1400px;
  background-position: center;
  text-align: center;
  font-family: Arial;
}

#flash {
  display: inline-block;
  background: #FFF;
  color: #000;
  padding: 5px;
  margin: 6px 30px 10px 30px;
  border-radius: 10px;
}

div.box, div.cell {
  display: inline-block;
  padding: 3px;
}

.cell input {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.cell input:hover {
  font-size: 18px;
  width: 30px;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

#check {
  padding: 10px 0 15px 0;
}

button {
  background-color: #FFF;
  width: 300px;
  font-size: 20px;
  font-family: 'Courgette';
  border-radius: 10px;
}

button:hover {
  background-color: #DDD;
}

#reset, #save {
  background-color:rgba(0,0,0,0.0);
  width: 50px;
  border: none;
  color: #DDD;
  cursor: pointer;
  display: inline-block;
  margin: 0 20px 0 20px;
}

#reset {
  float: left;
  margin-left: 50px;
}

#save {
  float: right;
  margin-right: 50px;
}

#reset:hover, #save:hover {
  background-color: #000;
  color: #FFF;
}